@font-face {
    font-family: 'Super Adorable';
    src: url('./font/Super Adorable.ttf') format('truetype');

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Super Adorable';
    color: #ffffff;
      display: flex;
    flex-direction: column;
    

}

.hero-section {
    background-color: #b92823;
  

   

}

.map-section {
    background-color: #d86525;
}

.about-section {
    background-color: #f4e4b8;
}